*
html,body {font-family: Raleway;}

li {display: inline;}

a {text-decoration: none;}

.flexCentre {

    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {

    display: flex;
    justify-content: space-around; 
    align-items: center; 
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexColumnCentre {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {

    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* NAV */

.Barre_de_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
}
.bordureNav {
    border-top: 1px solid blue;
}
.bordureNav2 {
    border-top: 1px solid transparent;
}

.LiensNav {
    width: 45%;
}
.LiensNav2 {
    width: 140px;
    height: 99px;
}
.texteGras {

    font-weight: bold;
}
.sizeNav {
    height: 100px;
}
.LiensColor2 {
    color: black;
}
.marglogo {
    margin-bottom: 7px;
}

/* Colors */

.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff
}
.colorGris { 
    color: #f2f2f2
} 
.backBleu {
    background-color: #0065fc;
}
.backBleuClair {
    background-color: #deebff
}
.backGris { 
    background-color: #f2f2f2
} 

/* HEADER*/ 

.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #f2f2f2;
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

/* Filtres */

.filtre {
    display: flex;
    align-items: center;
}
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
} 
.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
.filtreTexteIcons:hover > .filtreTexte {
    color:#0065fc
}
.filtreTexteIcons:hover > .filtreIcons {
    color:white;
    background-color:#0065fc;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.bordureNone {
    border-style: none
}
/*Info */

.info {
    display: flex;
    align-items:center
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right:  5px;
}

/* Hebergements */

.sizePopulaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.sizeHebergements {
flex: 2;
height: 650px;
margin-right: 20px;
border-radius: 10px;
}
.imgHebergements1 {
    background-image: url("./Assets/Images/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2 {
    background-image: url("./Assets/Images/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3 {
    background-image: url("./Assets/Images/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4 {
    background-image: url("./Assets/Images/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5 {
    background-image: url("./Assets/Images/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6 {
    background-image: url("./Assets/Images/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.blocHebergements {
    padding-left: 20px;
    padding-right: 20px;
}
.cubeHebergements {
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
