*
body {font-family: 'Raleway', sans-serif;}

h1 {font-family: 'Raleway', sans-serif;}

li {display: inline;}

.flexCentre {

    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {

    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.Barre_de_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Raleway;
}

.LiensNav {
    width: 45%;
}
.LiensNav2 {
    width: 140px;
    height: 99px;
}

.LiensColor1 {
color: blue;
font-family: Raleway

}

.LiensColor2 {
    color: black;
    
    }

.decorationNone {
    text-decoration: none;
}